.timer {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .heading {
    font-size: 1.5rem;
    color: white;
  }

  .time {
    font-weight: bold;
    font-size: 30px;
    color: lime;
    margin: auto;
  }

  .red-time {
    color: red;
  }

}
